.container.file {
    background-color: #99CC99;
    height: 30rem;
}

.file .content {
    color: white;
    position: relative;
}

.file .content h2 {
    border-bottom: 1px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.file .content div {
    margin-top: .5rem;
}