* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 2rem;
}

.text-part {
    color: #a6a7aa;
    line-height: 2em;
}

body {
    display: flex;
    flex-direction: column;
    color: #515769;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container:nth-child(2n) {
    background-color: #f0ffef;
}

.content {
    padding: 0 1rem;
    max-width: 70rem;
    width: 100%;
    overflow: hidden;
}

.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 5.5rem;
    border-bottom: 1px rgba(240, 255, 240, 0.5) solid;
}